<mat-list-item [formGroup]="form"
               [hidden]="hidden">
  <h4 matLine>
    <span [hidden]="isEditable">
      <span>{{skillName}}</span>
      <span [hidden]="hideSpecialization">
        <span class="spec-seperator">:</span>
        <span [hidden]="isEditable">{{specialization}}</span>
      </span>
      <span class="die-count">{{dieCount}}</span>

    </span>
    <span [hidden]="!isEditable">
      <mat-form-field>
        <input matInput
               type="text"
               formControlName="skillName" />
      </mat-form-field>
      <span [hidden]="hideSpecialization">
        <mat-form-field>
          <span matPrefix>:</span>
          <input matInput
                 type="text"
                 formControlName="specialization"
                 placeholder="Specialization"/>
        </mat-form-field>
      </span>
      <mat-form-field>
        <input matInput
               type="text"
               formControlName="dieCount"
               class="die-count "
               placeholder="# of dice" />
      </mat-form-field>
    </span>
    <span>
      <span class="die-seperator">d</span>
      <span class="die-type">{{dieType}}</span>
      <span class="die-seperator">+</span>
      <span class="die-type">{{rollModifier}}</span>
    </span>
  </h4>
  <p matLine>
    <input type="button"
           value="&#9998;"
           class="edit-skill"
           (click)="toggleEditable()" />
    <input type="button"
           class="remove-skill"
           value="del"
           [hidden]="!isEditable"
           (click)="removeSkill()" />
    <input type="button"
           class="remove-spec"
           value=" del :"
           [hidden]="!isEditable || hideSpecialization"
           (click)="removeSpecialization()" />
    <input type="button"
           class="add-spec"
           value=":"
           [hidden]="!isEditable || !hideSpecialization"
           (click)="addSpecialization()" />
  </p>
</mat-list-item>
