<form [formGroup]="form" novalidate>
  <p>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h2>{{name}}</h2>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput type="text" formControlName="name" />
        <mat-placeholder>Character Name</mat-placeholder>
      </mat-form-field>
    </mat-expansion-panel>
  </p>
  <div fxLayout="row" fxLayout.lt-sm="column">
    <div fxFlex="33" fxFlex.lt-sm="100">
      <div formArrayName="mentalTraits" class="trait-block">
        <div class="trait-column-title">Mental Traits</div>
        <div *ngFor="let trait of form.controls.mentalTraits['controls']">
          <zh-trait [trait]="trait"></zh-trait>
        </div>
      </div>
    </div>
    <div fxFlex="33" fxFlex.lt-sm="100">
      <div formArrayName="corporealTraits" class="trait-block">
        <div class="trait-column-title">Coporeal Traits</div>
        <div *ngFor="let trait of form.controls.corporealTraits['controls']">
          <zh-trait [trait]="trait"></zh-trait>
        </div>
      </div>
    </div>
    <div fxFlex="33" fxFlex.lt-sm="100">
      <zh-edge-hinderance [edges]="form.controls.edges"></zh-edge-hinderance>
      <p>
        <mat-card>
          <mat-card-title>
            <span>Chips 'n' Grit</span>
          </mat-card-title>
        </mat-card>
      </p>
      <mat-card>
        <mat-card-title>
          <span>Wind (Vigor + Spirit die type)</span>
        </mat-card-title>
        <zh-wind-selector [count]="34" [windTotal]="windTotal" formControlName="currentWind"></zh-wind-selector>
      </mat-card>
      <mat-card>
        <mat-card-title>
          <span>Strain (Vigor die type)</span>
        </mat-card-title>
        <zh-wind-selector [count]="22" [windTotal]="strainMax" formControlName="currentStrain"></zh-wind-selector>
      </mat-card>
    </div>
  </div>
</form>