<div class="container-fluid">
  <form [formGroup]="form" novalidate>
    <div style="text-align: center">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div formArrayName="mentalTraits"
          class="trait-block">
          <h3>Mental Traits</h3>
          <div *ngFor="let trait of form.controls.mentalTraits.controls"
               class="skillbock-list">
            <trait [trait]="trait"></trait>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div formArrayName="corporealTraits"
          class="trait-block">
          <h3>Coporeal Traits</h3>
          <div *ngFor="let trait of form.controls.corporealTraits.controls"
               class="skillbock-list">
            <trait [trait]="trait"></trait>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <h3>Edges 'n' Hinderances</h3>
        </div>
        <div>
          <h3>Chips 'n' Grit</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>Wind</h4>
        <zer-wind-selector [count]="34"
                           [windTotal]="windTotal"
                           formControlName="currentWind"></zer-wind-selector>
      </div>
    </div>
  </form>
  <pre>{{ form.value | json }}</pre>
</div>
