<mat-sidenav-container autosize="true">
  <mat-sidenav [mode]="menuMode" [opened]="showMenu">
    <zh-nav-wrapper>
      <router-outlet name="side-nav"></router-outlet>
    </zh-nav-wrapper>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="title-wrapper">      
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="menu-button-wrapper" [hidden]="showMenu">
  <button mat-fab (click)="openMenu()">
    <mat-icon>menu</mat-icon>
  </button>
</div>