<mat-sidenav-container>
  <mat-sidenav-content >
    <form [formGroup]="form" novalidate>
      <div style="text-align: center">
        <h1>
          Welcome to {{ title }}!
        </h1>
      </div>
      <div fxLayout="row">
        <div fxFlex="33"
             fxFlex.lt-sm="100">
          <div formArrayName="mentalTraits"
               class="trait-block">
            <h3>Mental Traits</h3>
            <div *ngFor="let trait of form.controls.mentalTraits.controls">
              <trait [trait]="trait"
                     (confirmRemoveSkill)="confirmRemoveSkill($event, content)"></trait>
            </div>
          </div>
        </div>
        <div fxFlex="33"
             fxFlex.lt-sm="100">
          <div formArrayName="corporealTraits"
               class="trait-block">
            <h3>Coporeal Traits</h3>
            <div *ngFor="let trait of form.controls.corporealTraits.controls">
              <trait [trait]="trait"></trait>
            </div>
          </div>
        </div>
        <div fxFlex="33"
             fxFlex.lt-sm="100">
          <zer-edge-hinderance [edges]="edges"></zer-edge-hinderance> 
          <div>
            <h3>Chips 'n' Grit</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col=md-12 col-lg-6">
          <h4><abbr title="Vigor + Spirit die type">Wind</abbr></h4>
          <zer-wind-selector [count]="34"
                             [windTotal]="windTotal"
                             formControlName="currentWind"></zer-wind-selector>
        </div>
        <div class="col=md-12 col-lg-6">
          <h4><abbr title="Vigor die type">Strain</abbr></h4>
          <zer-wind-selector [count]="22"
                             [windTotal]="strainMax"
                             formControlName="currentStrain"></zer-wind-selector>
        </div>
      </div>
      <button mat-button
              color="primary"
              class="save-form"
              (click)="onSave()">
        Save
      </button>
    </form></mat-sidenav-content>
</mat-sidenav-container>
