<div [formGroup]="trait"
     class="container-fluid trait-wrapper form-group">
  <div class="row">
    <div class="col-md-7">
      <div class="form-inline">
        <div class="form-group">
          <h4>
            <input type="text"
                   formControlName="traitName"
                   class="form-control" />
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-inline">
        <div class="form-group die-wrapper">
          <input type="text"
                 formControlName="dieCount"
                 class="die-count form-control"
                 placeholder="# of dice" />
          <span class="die-seperator">d</span>
          <input type="text"
                 formControlName="dieType"
                 class="die-type form-control"
                 placeholder="# of sides to each die" />
          <span class="die-seperator">+</span>
          <input type="text"
                 formControlName="rollModifier"
                 class="die-type form-control"
                 placeholder="roll modifier" />
        </div>
      </div>
    </div>

  </div>
  <div>
    <ul formArrayName="skills"
        class="skill-list">
      <li *ngFor="let skill of trait.controls.skills.controls; let index=index">

        <div [formGroup]="trait.controls.skills.controls[index]"
             class="row ">
          <div class="col-md-7">
            <div class="form-inline">
              <div class="form-group skill-wrapper">
                <input type="text"
                       formControlName="skillName"
                       class="form-control" />
                <div [hidden]="hideSpecialization(index)">
                  <span class="spec-seperator form-text">:</span>
                  <input type="text"
                         formControlName="specialization"
                         class="form-control" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-inline">
              <div class="form-group die-wrapper">
                <input type="text"
                       formControlName="dieCount"
                       class="die-count form-control" />
                <div class="form-text">
                  <span class="die-seperator">d</span>
                  <span class="die-type">{{getDieType()}}</span>
                  <span class="die-seperator">+</span>
                  <span class="die-type">{{getRollModifier()}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <input class="add-skill"
         type="button"
         (click)="addSkill()"
         value="&#43;" />
</div>



