@import '~scss/variables';

.trait-wrapper {
  .skill-list {
    width: 100%;
  }

  .die-wrapper {
    width: 100%;
    justify-content: flex-end;
    $die-input-width: 45px;

    .die-type, .die-count {
      text-align: center; /*override user agent styling*/
      width: $die-input-width;
      display: inline-block;
    }
  }

  .spec-seperator {
    $spec-sep-marg: 2px;
    margin-left: $spec-sep-marg;
    margin-right: $spec-sep-marg;
  }

  .skill-wrapper {
    max-width: 100%;
  }
}

.form-inline {
  .form-text {
    display: inline-block;
  }
}
