<div class="container-fluid trait-wrapper">
  <div class="row">
    <div class="col-md-5">
      <h4>{{trait.attribute.name}}</h4>
    </div>
    <div class="col-md float-right die-wrapper">
      <input type="text"
             [value]="trait.attribute.dieCount"
             class="die-count"
             placeholder="# of dice" />
      <span class="die-seperator">d</span>
      <input type="text"
             [(ngModel)]="trait.attribute.dieType"
             class="die-type"
             placeholder="# of sides to each die" />
    </div>
  </div>
  <div>
    <ul class="skill-list">
      <li *ngFor="let skill of skills">
        <div class="row">
          <span class="col-md-7">{{skill.name}}</span>
          <div class="col-md-5 float-right die-wrapper">
            <input type="text"
                   [value]="skill.dieCount"
                   class="die-count" />
            <span class="die-seperator">d</span>
            <div class="die-type">{{trait.attribute.dieType}}</div>
          </div>
          <div>
            <input type="text"
                   [value]="skill.specialization"
                   [hidden]="!skill.displaySpecialization" />
          </div>
        </div>
      </li>
    </ul>
  </div>
  <input class="add-skill"
         type="button"
         (click)="addSkill()"
         value="&#43;" />
</div>



